html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: fadein 3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  font-size: 1.75em;
}

hr {
  width: 100%;
}
.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: linear-gradient(
    143deg,
    rgba(0, 62, 139, 1) 0%,
    rgba(207, 229, 255, 1) 100%
  );

  /* background-color: rgba(0, 26, 58, 1); */
}

.cv-container {
  width: 70%;
  margin: 3% auto;
  height: fit-content;
  box-shadow: 0 1px 20px 1px rgba(10, 20, 10, 0.4);
}

.background-image-container {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  color: transparent;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}
.background-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: white 5px solid;
  box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.712)

}

h1{
  margin-bottom: 0;

}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 5%;
  border: none;
}

.cv-heading {
  border-radius: 10px;
  padding: 15px;
  background-color: #5280b8;
  z-index: 2;
  color: white;
  width: 15%;
  height: 40px;
  margin-top: 10px;
  border: white solid 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  box-shadow: 0 0px 10px 2px rgba(1, 70, 128, 0.815);
  /* animation: popup 1s infinite; */
}

@keyframes popup {

  0%{
    font-size: 2em;
    text-shadow: 0 0 10px rgba(0, 187, 255, 0.701);
    /* transform: rotate(15deg); */
  }

  60%{
    font-size: 3em;
    text-shadow: 0 0 10px rgba(0, 255, 234, 0.701);

    /* transform: rotate(-15deg); */

  }

  100%{
    font-size: 2em;
    text-shadow: 0 0 10px rgba(0, 187, 255, 0.701);
    /* transform: rotate(15deg); */
  }
  
}
.card {
  width: 85%;
  margin: 10px auto;
  padding: 1px 20px;
  display: flex;
  justify-content: space-between;
  /* border: white solid 5px; */
  color: white;
  border-radius: 10px;
}

.half {
  width: 50%;
  padding: 10px;
  text-align: justify;
}

.basic-info-list {
  list-style: none;
  padding: 0;
}

.basic-info-list h3 {
  font-size: 1em;
}

.cv-div {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  position: relative;
  flex-direction: column;
  border-bottom: rgb(169, 210, 243) solid 2px;
}

.profile-div {
  margin-top: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.about-container {
  background-color: #3667cd;
  width: 53%;
  padding: 2% 3%;
  border-radius: 5px;
  line-height: 150%;
  box-shadow: 0 1px 15px 1px rgba(10, 20, 10, 0.4);
  transition: transform 0.5s ease-in-out;
}

.info-container {
  background-color: white;
  color: #3667cd;
  width: 33%;
  padding: 2% 3%;
  line-height: 150%;
  border-radius: 5px;
  box-shadow: 0 1px 15px 1px rgba(10, 20, 10, 0.4);
  transition: transform 0.5s ease-in-out;
}

.progress-div {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.progress-box {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  padding: 1px;
  background-color: #cacaca80;
  border: white solid 1px;
}

.filled-progress-box {
  background-color: #31c0fe;
  animation: glow 1s infinite;
}
@keyframes glow {
  0% {
    box-shadow: 0 0px 3px 1px rgba(255, 255, 255, 0.689);
  }
  50% {
    box-shadow: 0 0px 3px 1px rgba(0, 174, 237, 0);
  }
  100% {
    box-shadow: 0 0px 3px 1px rgba(231, 231, 231, 0.813);
  }
}

.skill {
  margin: 5px auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #3c7aff;
  border-radius: 25px;
  color: aliceblue;
  font-weight: 600;
}
.skill-text {
  width: 40%;
  font-size: 1em;
}
.socials-container {
  width: fit-content;
  background-color: #3c7aff;
  background: linear-gradient(
    143deg,
    rgba(0, 62, 139, 1) 0%,

    rgb(82, 159, 254) 100%
  );
  border: white solid 2px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30%;
  position: fixed;
  top: 20%;
  left: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0px 7px 1px rgba(250, 250, 250, 0.523);
  z-index: 3;
  transition: transform 0.5s ease-in-out;
  animation: glow    rgba(0, 62, 139, 1) 50%,
  1s infinite;
  /* display: none; */
}

.socials-container img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.25s ease-in-out;
}

.projects-container {
  height: 300px;
  scrollbar-width: thin;
}

.projects-container ul {
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.about-container:hover {
  /* background-color:#1d65ff ; */
  box-shadow: 0 0 10px 2px white

}

.info-container:hover {
  background-color:#ffffff ;
  box-shadow: 0 0 10px 2px white
}
body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: #3c7aff;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid white;
}

.socials-container img:hover {
  box-shadow: 0 0px 10px 5px rgb(189, 255, 255);
  transform: scale(1.2);
}

/* .projects-container::-webkit-scrollbar {
  width: 12px;
}

.projects-container::-webkit-scrollbar-track {
  background: #3c7aff;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid white;
} */
