<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/login.css"> 
    <script src="/js/login.js"></script>
    <% if(page === "register") { %>
        <title>Register</title>
        <% } else { %>
        <title>Login</title>
        <% } %> 
</head>
<style>
    .paragraph{
        color: white;
        text-decoration: none;
    }
</style>
<body>
    <div class="main-container">
        <%- include ('../partials/flashMessage') %>
        <div class="container">
            <% if(page === "register") { %>
                <h1>Admin Registration</h1>
            <% } else { %>
                <h1>Admin login</h1>
            <% } %> 
            <form method="post" id="loginForm">
                <% if(page === "register") { %>
                    <input id="name" type="text" name="name" placeholder="Enter name">
                <% } %>
                <input id="username" type="text" name="username" placeholder="Enter Username">
                <input id="password" type="password" name="password" placeholder="Enter password">
                <% if(page === "register") { %>
                    <button id="login-button" type="submit" class="confirm-button">Register</button>
                    <% } else { %>
                    <button id="login-button" type="submit" class="confirm-button">Login</button>
                    <% } %> 
                <% if(page === "register") { %>
                    <p class="paragraph">Already have an account? <b><a href="/login/admin">Login</a></b></p>
                <% } else { %>
                    <p class="paragraph">Don't have an account? <b><a href="/register/admin">Register</a></b></p>
                <% } %> 
            </form>
        </div>
    </div>
</body>
</html>
