<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/cart.js"></script>
    <link rel="stylesheet" href="css/cart.css">
    <title>Cart</title>
</head>
<body>
    <div class="cart-page-container" >
        <section id="cartlist" class="product-cart-container">
        </section>
        <aside class="sidebar-container">
            <h2>Summary</h2>
            <div id="summarycontainer" class="summary-container"></div>
        </aside>
    </div>
</body>
</html>