<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/reviewpage.css">
    <script src="js/reviewScript.js"></script>
</head>
<body>
    <div>
        <nav class="navbar bg-body-tertiary main-nav dark">
            <div class="container-fluid">
                <div class="nav-kfc"> 
                  <div class="nav-buttons-container">                   
                      <a class="navbar-brand brand-name" href="#">Jewellaria</a>
                        <div>REVIEWS</div>
                        <button id="add-review" class="signin-button add-employee-button">Add Review</button>
                  </div>
              </div>
            </div>
          </nav>
          <div id="review-form-container" class="hide">
            <button id="form-close-button">X</button>
            <form id="createForm">
                <h2>Enter details</h2>
                <div class="form-group">
                    <label for="createTitle">Name</label>
                    <input type="text" class="form-control" id="createName" required placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="createContent">Message</label>
                    <textarea class="form-control" id="createComment" rows="3" required placeholder="Comments"></textarea>
                </div>
                <button id="createBtn" type="submit" class="btn btn-primary">Create</button>
                <button id="clearBtn" type="submit" class="btn btn-primary" style="display: none;">Clear</button>
            </form>
          </div>
          <section id="reviewsList" class="empolyee-profile-container dark">
          </section>

    </div>
</body>
</html>