<style>
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 200px; */
    }

    .container h1{
        margin-top: 200px;
        font-size: 40px;
    }

    .container p{
        font-size: 20px;
    }

    .container a{
        font-size: 15px;
        /* color: blue !important; */
    }

    .go-to-home{
        color: blue !important;
    }
</style>
<!-- <body> -->
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
        <a class="go-to-home" href="/">Go to Homepage</a>
    </div>
<!-- </body>
</html> -->
