<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>Admin login</h1>
            <form id="loginForm">
                <input id="username" type="text" placeholder="Enter Username">
                <input id="password" type="password" placeholder="Enter password">
                <button id="login-button" type="submit" class="confirm-button">Login</button>
            </form>
        </div>

    </div>
    
</body>
</html>